name: Gitleaks Secret Scan

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  # required for all workflows
  security-events: write
  pull-requests: write

  # required to fetch internal or private CodeQL packs
  packages: read

  # only required for workflows in private repositories
  actions: read
  contents: read


jobs:
  gitleaks:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run Gitleaks
        uses: gitleaks/gitleaks-action@v2
#        with:
#          args: >
#            detect
#            --source .
#            --report-format sarif
#            --report-path gitleaks.sarif
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload SARIF to GitHub Security
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: results.sarif
        
        
        ### 아래는 기존 script (PR comment: OK, Security Event: NOK) 
        ###env:
        ###  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # Organization repo면 필요
          # GITLEAKS_LICENSE: ${{ secrets.GITLEAKS_LICENSE }}
          # 커스텀 설정 쓰고 싶으면 (예시)
          # GITLEAKS_CONFIG: .github/gitleaks.toml
          # SARIF 업로드 끄고 싶으면
          # GITLEAKS_ENABLE_UPLOAD_ARTIFACT: "false"
        ### 여기까지 기존 

