name: Semgrep Scan

on:
  pull_request:
  #  types: [opened, synchronize, reopened]
  push:
    branches:
  #    - main

permissions:
  contents: read
  pull-requests: write         # PR에 annotation 남기기 위해 필요
  security-events: write       # Security tab(Code Scanning Alerts)에 SARIF 업로드 위해 필요

jobs:
  semgrep:
    name: Run Semgrep
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0       # diff 기반 룰이 제대로 동작하려면 0으로 설정 필수

      - name: Run Semgrep
        uses: semgrep/semgrep-action@v1
        with:
          config: "p/ci"       # Semgrep 기본 CI 룰셋
          
          # Security Event(Code Scanning Alerts)에 표시 위한 SARIF 생성
          generateSarif: true

          # Semgrep Cloud 사용 안 하므로 false로 반드시 설정
          publishResults: false

      # Security Events로 업로드(SARIF)
      - name: Upload SARIF to GitHub Security
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: semgrep.sarif
